
<form #userUpdateForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="card">
    <div class="card card-block">
      <div class="form-group">
        <h4>Select User</h4>
        <select (change)="onChange($event.target.value)" [(ngModel)]="userUpdateModel.email" name="email" required="required">
          <option *ngFor="let user of userList" [ngValue]="user.email">{{user.firstName}} {{user.lastName}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">First Name</label>
    <input type="text" name="firstName" class="form-control" #firstName=ngModel
           [(ngModel)]="userUpdateModel.firstName"
           placeholder="First Name">
  </div>

  <div class="form-group">
    <label class="control-label">Last Name</label>
    <input type="text" name="lastName" class="form-control" #lastName=ngModel
           [(ngModel)]="userUpdateModel.lastName"
           placeholder="Last Name">
  </div>

  <div class="form-group">
    <label class="control-label">Contact No</label>
    <input type="number" name="contactNo" class="form-control" #contactNo=ngModel
           [(ngModel)]="userUpdateModel.contactNo"
           placeholder="Contact No">
  </div>

  <div class="form-group">
    <label class="control-label">User Status</label>
    <select name="status" id="status" #status=ngModel [(ngModel)]="userUpdateModel.status"
            class="form-control">
      <option value="ACTIVE">ACTIVE</option>
      <option value="INACTIVE">INACTIVE</option>
    </select>
  </div>

    <div class="row" *ngIf="showSuccessMsg">
      <div class="col-xs-12">
        <p class="alert alert-success">
          <strong>{{message}}</strong>
        </p>
      </div>
    </div>
    <div class="row" *ngIf="showErrorMsg">
      <div class="col-xs-12">
        <p class=" alert alert-danger">
          <strong>{{message}}</strong>
        </p>
      </div>
    </div>

    <button class="btn btn-primary" [disabled]="userUpdateForm.form.invalid "
            type="submit">Update</button>
  </form>
