<form #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="card card-block login-card">
    <h4>ADMIN LOGIN</h4>
    <div class="form-group">

      <div class="input-group">
        <span class="input-group-addon addon-left" id="email">
          <i class="fa fa-user fa-fw"></i>
        </span>
        <input type="email" autocomplete="off" #email=ngModel [(ngModel)]="userModel.email" id="email" name="email" class="form-control"
          pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" placeholder="Enter Email">
      </div>

      <div class="input-group">
        <span class="input-group-addon addon-left" id="password">
          <i class="fa fa-lock fa-fw"></i>
        </span>
        <input type="password" autocomplete="off" #password=ngModel [(ngModel)]="userModel.password" id="password" name="password"
          class="form-control" required placeholder="Enter Password">
      </div>

      <div class="row" *ngIf="showErrorMsg">
        <div class="col-xs-12">
          <p class=" alert alert-danger">
            <strong>{{message}}</strong>
          </p>
        </div>
      </div>
      <button class="btn btn-primary" id="submit" type="submit">Login</button>
    </div>

  </div>
</form>