<div class="col-md-8 container-fluid">
    <card cardTitle="Doctor Details" isCollapse="true">
        <form #doctorForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

            <div class="form-group">
                <div class="card card-block">
                    <!-- <role-select></role-select> -->
                    <div class="form-group">
                        <h4>Select User</h4>
                        <select [(ngModel)]="userModel.userId" name="userId">
                            <option *ngFor="let obj of items1" [ngValue]="obj.userId">{{obj.firstName}} {{obj.lastName}}
                            </option>
                        </select>

                    </div>
                </div>
            </div>

          <div class="form-group">
            <label class="control-label">Doctor Type</label>
            <select name="type" id="type" class="form-control" [(ngModel)]="doctorModel.type" #type="ngModel">
              <option value="GP">GP</option>
              <option value="VET">VET</option>
            </select>
          </div>


            <!--<div class="form-group"> -->
            <div class="form-group">
                <label class="control-label">SLMC No</label>
                <input type="number" #slmcNo="ngModel" required class="form-control"
                    [class.is-invalid]="slmcNo.invalid && slmcNo.touched" name="slmcNo" [(ngModel)]="doctorModel.slmcNo"
                    placeholder="Enter Center Name">

                <div *ngIf="slmcNo.invalid && (slmcNo.dirty || slmcNo.touched)" class="text-danger">
                    <div *ngIf="slmcNo.errors.required">
                        SLMC No is required.
                    </div>
                </div>
            </div>



            <h4>Qualifications</h4>
            <div class="card">
                <div class="form-group">

                    <div class="form-group">
                        <label class="control-label">University</label>
                        <input type="text" class="form-control" name="university" placeholder="Enter University"
                            [(ngModel)]="qualificationModel.university">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Education details</label>
                        <input type="text" class="form-control" name="education" placeholder="Enter Education Details"
                            [(ngModel)]="qualificationModel.education">
                    </div>

                    <div class="form-group">
                        <label class="control-label">Remark</label>
                        <input type="text" class="form-control" name="remark" placeholder="Enter University"
                            [(ngModel)]="qualificationModel.remark">
                    </div>

                </div>
            </div>

            <div class="row" *ngIf="showSuccessMsg">
                <div class="col-xs-12">
                    <p class="alert alert-success">
                        <strong>{{message}}</strong>
                    </p>
                </div>
            </div>
            <div class="row" *ngIf="showErrorMsg">
                <div class="col-xs-12">
                    <p class=" alert alert-danger">
                        <strong>{{message}}</strong>
                    </p>
                </div>
            </div>
            <button class="btn btn-primary" [disabled]="doctorForm.form.invalid "
                type="submit">Submit</button>
        </form>

    </card>
</div>
