
<form #centerUpdateForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="card">
    <div class="card card-block">
      <div class="form-group">
        <h4>Select Center</h4>
        <select (change)="onChange($event.target.value)" [(ngModel)]="centerUpdateModel.id" name="id" required="required">
          <option *ngFor="let center of centerList" [ngValue]="center.centerId">{{center.centerName}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="control-label">Center Name</label>
    <input type="text" name="centerName" class="form-control" #centerName=ngModel
           [(ngModel)]="centerUpdateModel.centerName"
           placeholder="Center Name">
  </div>

  <div class="form-group">
    <label class="control-label">Address</label>
    <input type="text" name="address" class="form-control" #address=ngModel
           [(ngModel)]="centerUpdateModel.address"
           placeholder="Address">
  </div>

  <div class="form-group">
    <label class="control-label">City</label>
    <input type="text" name="city" class="form-control" #city=ngModel
           [(ngModel)]="centerUpdateModel.city"
           placeholder="City">
  </div>

  <div class="form-group">
    <label class="control-label">Contact No</label>
    <input type="number" name="contactNo" class="form-control" #contactNo=ngModel
           [(ngModel)]="centerUpdateModel.contactNo"
           placeholder="Contact No">
  </div>

  <div class="form-group">
    <label class="control-label">Latitude</label>
    <input type="number" name="latitude" class="form-control" #latitude=ngModel
           [(ngModel)]="centerUpdateModel.latitude"
           placeholder="Latitude">
  </div>

  <div class="form-group">
    <label class="control-label">Longitude</label>
    <input type="number" name="longitude" class="form-control" #longitude=ngModel
           [(ngModel)]="centerUpdateModel.longitude"
           placeholder="Longitude">
  </div>

  <div class="form-group">
    <label class="control-label">Open Time</label>
    <input type="time" name="openTime" class="form-control" #openTime=ngModel
           [(ngModel)]="centerUpdateModel.openTime"
           placeholder="Open Time">
  </div>

  <div class="form-group">
    <label class="control-label">Center Status</label>
    <select name="status" id="status" #status=ngModel
            [(ngModel)]="centerUpdateModel.status"
            class="form-control">
      <option value="OPEN">OPEN</option>
      <option value="CLOSE">CLOSE</option>
    </select>
  </div>

  <div class="form-group">
    <label class="control-label">Mobitel Agent</label>
    <input type="text" name="mobitelAgent" class="form-control" #mobitelAgent=ngModel
           [(ngModel)]="centerUpdateModel.mobitelAgent"
           placeholder="Mobitel Agent">
  </div>

  <div class="row" *ngIf="showSuccessMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
        <strong>{{message}}</strong>
      </p>
    </div>
  </div>
  <div class="row" *ngIf="showErrorMsg">
    <div class="col-xs-12">
      <p class=" alert alert-danger">
        <strong>{{message}}</strong>
      </p>
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="centerUpdateForm.form.invalid "
          type="submit">Update</button>
</form>
