<div class="row">
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Current Users</h3>
        <span>102,018 / 200,450</span>
      </div>
      <button class="tip-ico tip-ico-primary">
        <i class="fa fa-group fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Messages</h3>
        <span>2 messages</span>
      </div>
      <button class="tip-ico tip-ico-info">
        <i class="fa fa-comments fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Mails</h3>
        <span>2 mails</span>
      </div>
      <button class="tip-ico tip-ico-success">
        <i class="fa fa-envelope fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-3 animated fadeIn">
    <div class="card card-block tip-card">
      <div class="tip-msg">
        <h3>Feedback</h3>
        <span>20 feedbacks</span>
      </div>
      <button class="tip-ico tip-ico-danger">
        <i class="fa fa-warning fa-fw"></i>
      </button>
    </div>
  </div>
  <div class="col-md-12">
    <card  style="text-align: center">
      <h3 >WELCOME TO GP CHANNELING ADMIN MODULE</h3>
    </card>
  </div>
  
 
</div>
