<div class="col-md-8">
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="card">
            <div class="form-group">


                <div class="form-group">
                    <label class="control-label">First Name</label>
                    <input type="text" name="firstName" class="form-control" #firstName=ngModel
                        [(ngModel)]="userModel.firstName" required
                        [class.is-invalid]="firstName.invalid && firstName.touched" placeholder="Enter First Name">
                    <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="text-danger">
                        <div *ngIf="firstName.errors.required">
                            First Name is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Last Name</label>
                    <input type="text" name="lastName" class="form-control" #lastName=ngModel
                        [(ngModel)]="userModel.lastName" required
                        [class.is-invalid]="lastName.invalid && lastName.touched" placeholder="Enter Last Name">
                    <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="text-danger">
                        <div *ngIf="lastName.errors.required">
                            Last Name is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">NIC</label>
                    <input type="text" name="nic" class="form-control" #nic=ngModel [(ngModel)]="userModel.nic" required
                        [class.is-invalid]="nic.invalid && nic.touched" placeholder="Enter NIC">
                    <div *ngIf="nic.invalid && (nic.dirty || nic.touched)" class="text-danger">
                        <div *ngIf="nic.errors.required">
                            NIC is required.
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Email</label>
                    <input type="email" name="email" class="form-control" #email=ngModel [(ngModel)]="userModel.email"
                        required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                        [class.is-invalid]="email.invalid && email.touched" placeholder="Enter Email">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                        <div *ngIf="email.errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="email.errors && email.errors.pattern">
                            Email is invalid
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" name="password" class="form-control" #password=ngModel
                        [(ngModel)]="userModel.password" required
                        [class.is-invalid]="password.invalid && password.touched" placeholder="Enter Password">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text-danger">
                        <div *ngIf="password.errors.required">
                            Password is required.
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <input type="password" name="confirmPassword" class="form-control" #confirmPassword=ngModel
                        [(ngModel)]="userModel.confirmPassword" required appConfirmEqualValidator="password"
                        [class.is-invalid]="confirmPassword.invalid && confirmPassword.touched"
                        placeholder="Re-Enter Password">
                    <span class=" text-danger"
                        *ngIf="confirmPassword.touched && confirmPassword.errors?.required">Confirm
                        Password required</span>
                    <span class=" text-danger"
                        *ngIf="confirmPassword.touched && confirmPassword.errors?.notEqual && !confirmPassword.errors?.required">
                        Password and Confirm
                        Password is not equal</span>



                </div>

                <div class="form-group">
                    <label class="control-label">Contact No</label>
                    <input type="number" name="contactNo" class="form-control" #contactNo=ngModel
                        [(ngModel)]="userModel.contactNo" placeholder="Enter Contact No">
                </div>

                <div class="form-group">
                    <label class="control-label">User Type</label>
                    <select name="userType" id="userType" #userType=ngModel [(ngModel)]="userModel.userType"
                        class="form-control" required [class.is-invalid]="userType.invalid && userType.touched">
                        <option value="DOCTOR">Doctor</option>
                        <option value="CENTERADMIN">Center Admin</option>
                    </select>
                    <div *ngIf="userType.invalid && (userType.dirty || userType.touched)" class="text-danger">
                        <div *ngIf="userType.errors.required">
                            User Type is required.
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="form-group">
            <div class="card card-block">
                <!-- <role-select></role-select> -->
                <div class="form-group">
                    <h4>Select Roles</h4>
                    <select [(ngModel)]="selectedRole" name="roleId">
                        <option *ngFor="let obj of items" [ngValue]="obj">{{obj.roleName}}</option>
                    </select>
                    <input type=button (click)="addRoles()" value="Add" /><br>
                </div>

                <table class="table table-striped">
                    <tr class="">
                        <td><b>Role</b></td>
                        <td><b>Description</b></td>
                    </tr>
                    <tr *ngFor="let role of roleModels">
                        <td>{{role.roleName}}</td>
                        <td>{{role.description}}</td>
                        <!-- <td>{{cust.CustomerAmount}}</td> -->
                    </tr>
                </table>


            </div>
        </div>



        <div class="form-group">
            <div class="card card-block">
                <!-- <center-select></center-select> -->

                <div class="form-group">
                    <h4>Select Centers</h4>
                    <select [(ngModel)]="selectedCenter" name="centerId">
                        <option *ngFor="let obj of items1" [ngValue]="obj">{{obj.centerName}}</option>
                    </select>
                    <input type=button (click)="addCenter() " value="Add" /><br>


                </div>

                <table class="table table-striped">
                    <tr>
                        <td><b>Center</b></td>
                    </tr>
                    <tr *ngFor="let center of centerModels">
                        <td>{{center.centerName}}</td>
                    </tr>
                </table>

            </div>
        </div>

        <div class="row" *ngIf="showSuccessMsg">
            <div class="col-xs-12">
                <p class="alert alert-success">
                    <strong>{{message}}</strong> 
                </p>
            </div>
        </div>
        <div class="row" *ngIf="showErrorMsg">
            <div class="col-xs-12">
                <p class=" alert alert-danger">
                    <strong>{{message}}</strong> 
                </p>
            </div>
        </div>

        <button class="btn btn-primary" [disabled]="userForm.form.invalid "
            type="submit">Submit</button>
    </form>
</div>