<div class="col-md-8 container-fluid">
  <card cardTitle="Center Details" isCollapse="true">
    <form #centerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>


      <!-- <div class="form-group"> -->
      <div class="form-group">
        <label class="control-label">Center Name</label>
        <input type="text" #centerName="ngModel" required class="form-control"
          [class.is-invalid]="centerName.invalid && centerName.touched" name="centerName"
          [(ngModel)]="centerModel.centerName" placeholder="Enter Center Name">

        <div *ngIf="centerName.invalid && (centerName.dirty || centerName.touched)" class="text-danger">
          <div *ngIf="centerName.errors.required">
            Name is required.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Contact No</label>
        <input type="tel" #contactNo="ngModel" required pattern="^\d{10}$" class="form-control"
          [class.is-invalid]="contactNo.invalid && contactNo.touched" name="contactNo"
          [(ngModel)]="centerModel.contactNo" placeholder="Enter Contact No">
        <div *ngIf="contactNo.invalid && (contactNo.dirty || contactNo.touched)" class="text-danger">
          <div *ngIf="contactNo.errors.required">
            Contact No is required.
          </div>
          <div *ngIf="contactNo.errors.pattern">
            Contact No should be numeric & include 10 digits.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Center Type</label>
        <select name="type" id="type" class="form-control" [(ngModel)]="centerModel.type" #type="ngModel">
          <option value="GP">GP</option>
          <option value="VET">VET</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label">Open/Close Status</label>
        <select name="status" id="status" class="form-control" [(ngModel)]="centerModel.status" #status="ngModel">
          <option value="OPEN">OPEN</option>
          <option value="CLOSE">CLOSE</option>
        </select>
      </div>

      <div class="form-group">
        <label class="control-label">Open Time</label>
        <input type="time" name="openTime" class="form-control" [(ngModel)]="centerModel.openTime">
      </div>
      <div class="form-group">
        <label class="control-label">Mobitel Agent</label>
        <input type="text" name="mobitelAgent" class="form-control" [(ngModel)]="centerModel.mobitelAgent">
      </div><br>



      <h4>Location details</h4>
      <div class="card">
        <div class="form-group">

          <div class="form-group">
            <label class="control-label">City</label>
            <input type="text" class="form-control" name="city" placeholder="Enter City"
              [(ngModel)]="addressModel.city">
          </div>

          <div class="form-group">
            <label class="control-label">Address</label>
            <input type="text" class="form-control" #address="ngModel" name="address" placeholder="Enter Address"
              [(ngModel)]="addressModel.address" required [class.is-invalid]="address.invalid && address.touched">
            <div *ngIf="address.invalid && (address.dirty || address.touched)" class="text-danger">
              <div *ngIf="address.errors.required">
                address required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Latitude</label>
            <input type="text" class="form-control" #latitude="ngModel" name="latitude" placeholder="Enter Latitute"
              [(ngModel)]="addressModel.latitude" type="number" required
              [class.is-invalid]="latitude.invalid && latitude.touched">
            <div *ngIf="latitude.invalid && (longitude.dirty || latitude.touched)" class="text-danger">
              <div *ngIf="latitude.errors.required">
                latitude required.
              </div>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Longitude</label>
            <input type="text" class="form-control" #longitude="ngModel" name="longitude" placeholder="Enter Longitute"
              [(ngModel)]="addressModel.longitude" required type="number"
              [class.is-invalid]="longitude.invalid && longitude.touched">
            <div *ngIf="longitude.invalid && (longitude.dirty || longitude.touched)" class="text-danger">
              <div *ngIf="longitude.errors.required">
                longitude required.
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row" *ngIf="showSuccessMsg">
        <div class="col-xs-12">
          <p class="alert alert-success">
            <strong>{{message}}</strong>
          </p>
        </div>
      </div>
      <div class="row" *ngIf="showErrorMsg">
        <div class="col-xs-12">
          <p class=" alert alert-danger">
            <strong>{{message}}</strong>
          </p>
        </div>
      </div>
      <button class="btn btn-primary" [disabled]="centerForm.form.invalid "
        type="submit">Submit</button>
    </form>

  </card>
</div>
