<div class="col-md-12">

        <form #doctorForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        <div class="card card-block">
            <div class="form-group">
                <h4>Select Center</h4>
                <select [(ngModel)]="centerDoctorModel.centerId" name="centerId">
                        <option *ngFor="let obj of items1" [ngValue]="obj.centerId">{{obj.centerName}}</option>
                    </select>
                 

            </div>
        </div>
        <div class="card card-block">
            <div class="form-group">

                <!-- <center-select></center-select> -->

                <div class="form-group">
                    <h4>Select Doctor</h4>
                    <select [(ngModel)]="selectedDoctor" name="doctorId">
                        <option *ngFor="let obj of items" [ngValue]="obj">{{obj.user.firstName}} {{obj.user.lastName}}</option>
                    </select>
                    <input type=button (click)="addDoctor() " value="Add" /><br>

                </div>

                <table class="table table-striped">
                    <tr>
                        <td><b>Doctor</b></td>
                    </tr>
                    <tr *ngFor="let doctor of doctorModels">
                        <td>{{doctor.user.firstName}} {{doctor.user.lastName}}</td>
                    </tr>
                </table>

            </div>

        </div>

        <div class="row" *ngIf="showSuccessMsg">
            <div class="col-xs-12">
              <p class="alert alert-success">
                <strong>{{message}}</strong>
              </p>
            </div>
          </div>
          <div class="row" *ngIf="showErrorMsg">
            <div class="col-xs-12">
              <p class=" alert alert-danger">
                <strong>{{message}}</strong>
              </p>
            </div>
          </div>
        <button class="btn btn-primary" [disabled]="doctorForm.form.invalid" type="submit">Submit</button>
    </form>

</div>