
<form #selfRegisteredUserProcessForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="card">
    <div class="card card-block">
      <div class="form-group">
        <h4>Select User</h4>
        <select (change)="onChange($event.target.value)" [(ngModel)]="selfRegisteredUserModel.userId" name="id" required="required">
          <option *ngFor="let user of selfRegisteredUserList" [ngValue]="user.userId">{{user.centerName}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <label class="control-label">Registering as</label>
      <input type="text" name="registrationType" class="form-control" #registrationType=ngModel
             [(ngModel)]="selfRegisteredUserModel.registrationType"
             placeholder="Registration Type">
    </div>
    <div class="form-group col-sm-4">
      <label class="control-label">Name</label>
      <input type="text" name="name" class="form-control" #name=ngModel
             [(ngModel)]="selfRegisteredUserModel.name"
             placeholder="Name">
    </div>
    <div class="form-group col-sm-4">
      <label class="control-label">Contact No</label>
      <input type="text" name="contactNo" class="form-control" #contactNo=ngModel
             [(ngModel)]="selfRegisteredUserModel.contactNo"
             placeholder="Contact No">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <label class="control-label">NIC</label>
      <input type="text" name="nic" class="form-control" #nic=ngModel
             [(ngModel)]="selfRegisteredUserModel.nic"
             placeholder="NIC">
    </div>
    <div class="form-group col-sm-4">
      <label class="control-label">Email</label>
      <input type="text" name="userName" class="form-control" #userName=ngModel
             [(ngModel)]="selfRegisteredUserModel.userName"
             placeholder="Email">
    </div>
    <div class="form-group col-sm-4">
      <label class="control-label">Center Name</label>
      <input type="text" name="centerName" class="form-control" #centerName=ngModel
             [(ngModel)]="selfRegisteredUserModel.centerName"
             placeholder="Center Name">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <label class="control-label">Start Time</label>
      <input type="text" name="startTime" class="form-control" #startTime=ngModel
             [(ngModel)]="selfRegisteredUserModel.startTime"
             placeholder="Start Time">
    </div>
    <div class="form-group col-sm-4">
      <label class="control-label">Address</label>
      <input type="text" name="address" class="form-control" #address=ngModel
             [(ngModel)]="selfRegisteredUserModel.address"
             placeholder="Address">
    </div>
    <div class="form-group col-sm-4">
      <label class="control-label">Latitude</label>
      <input type="text" name="latitude" class="form-control" #latitude=ngModel
             [(ngModel)]="selfRegisteredUserModel.latitude"
             placeholder="Latitude">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-sm-4">
      <label class="control-label">Longitude</label>
      <input type="text" name="longitude" class="form-control" #longitude=ngModel
             [(ngModel)]="selfRegisteredUserModel.longitude"
             placeholder="Longitude">
    </div>
    <div class="form-group col-sm-4" *ngIf="selfRegisteredUserModel.slmcNo!=null && selfRegisteredUserModel.slmcNo!=0">
      <label class="control-label">SLMC No</label>
      <input type="text" name="slmcNo" class="form-control" #slmcNo=ngModel
             [(ngModel)]="selfRegisteredUserModel.slmcNo"
             placeholder="SLMC No">
    </div>
    <div class="form-group col-sm-4" *ngIf="selfRegisteredUserModel.qualification!=null">
      <label class="control-label">Highest Educational Qualification</label>
      <input type="text" name="qualification" class="form-control" #qualification=ngModel
             [(ngModel)]="selfRegisteredUserModel.qualification"
             placeholder="Highest Educational Qualification">
    </div>
  </div>

  <div class="row" *ngIf="showSuccessMsg">
    <div class="col-xs-12">
      <p class="alert alert-success">
        <strong>{{message}}</strong>
      </p>
    </div>
  </div>
  <div class="row" *ngIf="showErrorMsg">
    <div class="col-xs-12">
      <p class=" alert alert-danger">
        <strong>{{message}}</strong>
      </p>
    </div>
  </div>

  <button class="btn btn-primary" [disabled]="selfRegisteredUserProcessForm.form.invalid "
          type="submit">Finish Processing</button>
</form>
